{% extends 'administracion/base_administracion.html' %}
{% load static %}
{% block title %}Adriana Rando{% endblock%}
{% block css %}

<link href="{% static '/css/all.min.css' %}" rel="stylesheet" type="text/css">
<link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
<!-- Custom styles for this page -->
<link href="{% static '/css/dataTables.bootstrap4.min.css'%}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static '/css/sb-admin-2.min.css'%}" rel="stylesheet">

<script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
{% endblock css %}
{% block content %}


<div id="content-wrapper" class="d-flex flex-column">
    <!-- Page Wrapper -->
    <div id="wrapper">
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <strong class="m-0 font-weight-bold text-primary">Listado de propiedades</strong>  
                            <a name="" id="" class="btn btn-success" href="{% url 'propiedades_nuevo' %}" role="button">
                                        <i class="fa-solid fa-circle-plus"></i>Nueva</a>
                            
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>id</th>
                                            <th>Codigo</th>
                                            <th>Direccion</th>
                                            <th>Operacion</th>
                                            <th>Propiedad</th>
                                            <th>Provincia</th>
                                            <th>Barrio</th>
                                            <th>Amb</th>
                                            <th>Valor</th>
                                            <!--<th>Fecha de Alta</th>-->
                                            <th class="centered">Accion</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>id</th>
                                            <th>Codigo</th>
                                            <th>Direccion</th>
                                            <th>Operacion</th>
                                            <th>Propiedad</th>
                                            <th>Provincia</th>
                                            <th>Barrio</th>
                                            <th>Amb</th>
                                            <th>Valor</th>
                                            <!--<th>Fecha de Alta</th>-->
                                            <th class="centered">Accion</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for propiedad in propiedades %}
                                        <tr>
                                            <td>{{propiedad.id}}</td>
                                            <td>{{propiedad.codigo_interno}}</td>
                                            <td>{{propiedad.calle}} {{propiedad.altura}} </td>
                                            <td>{{propiedad.tipo_operacion}}</td>
                                            <td>{{propiedad.tipo_propiedad}}</td>
                                            <td>{{propiedad.tipo_provincia}}</td>
                                            <td>{{propiedad.tipo_barrio}}</td>
                                            <td>{{propiedad.tipo_ambiente}}</td>
                                            <td>{{propiedad.moneda}} {{propiedad.valor}}</td>
                                            <!--<td>{{propiedad.fecha_alta}}</td>-->
                                            <td>
                                                <a href="{% url 'propiedades_editar' propiedad.id %}"><button class='btn btn-sm btn-primary'><i class='fa-solid fa-pencil'></i></button>
                                                    <a href="{% url 'propiedades_eliminar' propiedad.id %}"><button class='btn btn-sm btn-danger'><i class='fa-solid fa-trash-can'></i></button>
                                            </td>

                                        </tr>
                                    {% endfor %}
                   
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>    
    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    

    


{% endblock %}
{% block javascript %}

    <!-- Bootstrap core JavaScript-->
    <script src="{% static '/js/jquery.min.js'%}"></script>
    <script src="{% static '/js/bootstrap.bundle.min.js'%}"></script>

    <!-- Page level plugins -->
    <script src="{% static '/js/jquery.dataTables.min.js'%}"></script>
    <script src="{% static '/js/dataTables.bootstrap4.min.js'%}"></script>
    
    <!-- Core plugin JavaScript-->
    <script src="{% static '/js/jquery.easing.min.js'%}"></script>
    
    <!-- Page level custom scripts -->
    <script src="{% static '/js/datatables-demo.js'%}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static '/js/sb-admin-2.min.js'%}"></script>

{% endblock javascript %}
